 .img169 {
    width:90%;
    /*eight:500px;*/
    margin-left: 5%;
    margin-right: 5%;
}

.img43, iframe {
    width:80%;
    /*height:600px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}

.imgCover {
    max-width: 60%;
    /*height:537px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    max-height: 650px;
}
