.sidebar a {
        display: block;
        color: #ff706c;
        font-weight: 700;
        margin-left: 70%;
        margin-bottom: .4em;
    }

.sidebar a:hover, .sidebar p:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

a:link, a:visited {
            text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}
